<h1>パスワードの変更</h1>

<p>パスワードを再発行するために下記のリンクをクリックしてください.</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>このリンクは２時間で有効期限が切れます.</p>

<p>
パスワードをリセットしたくなければこのメールを無視してください.
</p>