// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
///// index /////
.contact-container{
  width: 95%;
  margin: 0px auto;
}

.contact{
  border: 2px solid black;
  margin: 10px auto;
}

